@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
}

.my-btn {
  border-radius: 10px;
  border: 1px solid transparent;
  min-height: 63px;
  min-width: 214px;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;  
  background-color: #FFB800;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-btn:hover {
  color: #2D2D2D80;
  background-color: #FFFFFFBF;
}
.my-btn:focus,
.my-btn:focus-visible {
  outline: none !important;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: 15px;
  label{    
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
  }
}
.form-control{
  width: 100%;
  height: 74px;
  border-radius: 15px;  
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  background: #D9D9D9;
  color: #2D2D2D80;
  border: none !important;
  padding: 10px 20px;
  &::placeholder{
    text-align: center;
  }
  &:focus, &:active{
    border: none !important;
    outline: none !important;
  }
}

.card-carousel{
  margin: 7px !important;
  .wrap-content{
    width: 520px !important;
    height: 418px !important;    
    padding: 30px 44px !important;
  }  
}

#app {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;  
  text-align: center;
  background-image: url("/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }  
}
